._accent-color {
    color: var(--accent);
}

._uppercase {
    text-transform: uppercase;
}

._white-color {
    color: var(--white);
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

input::placeholder { 
    color: #666; 
    font-size: 80%;
}

::selection { 
    background-color: var(--accent); 
    color: #fff; 
}

/* input validation behavior */
input:focus:required:invalid, 
textarea:focus:required:invalid { 
    border-color: red; 
}

input:required:valid, 
textarea:required:valid { 
    border-color: green; 
}

.disable-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}