.footer {
    flex: 0 0 auto;
    padding: 3rem 0 5rem;

    background-color: transparent;
}

.footer__site-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__menu.menu {
    flex-direction: column;
}

.footer__menu.menu .menu__item {
    margin-bottom: 3rem;
}

.footer__menu.menu .menu__item:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 991px) {
    .footer {
        padding: 4rem 0;
    }

    .footer__menu.menu {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__menu.menu .menu__item {
        margin-bottom: 0;
    }
}
