.header {
    flex: 0 0 max-content;
    padding: 1.2rem 0;

    background-color: var(--back);
}

.header__site-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}