@import '../helpers/mixins.scss';

.button {
  display: flex;
  justify-content: center;
  padding: 1.4rem 2rem;
  color: var(--text);
  font: var(--font-T3);
  font-weight: 700;
  line-height: 1.12;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--white);
  border-radius: 1.4rem;
  transition: var(--transition);
  cursor: pointer;


  @include breakpointMF(tablet) {
    padding: 1.4rem 2rem;
  }

  &--dark {
    background-color: var(--accent-blue);
    color: var(--white);

    &:hover {
      background-color: rgba($color: #3c4497, $alpha: 0.9);
    }
  }

  &--white {
    &:hover {
      background-color: var(--accent-blue);
      color: var(--white);
    }
  }

  &--big {
    padding: 1.6rem 4rem;
    font: var(--font-T1);
    font-weight: 700;
    line-height: 1;

    @include breakpointMF(tablet) {
      padding: 2.5rem 4rem;
    }
  }

  &--middle {
    padding: 1.8rem 4rem;
    font: var(--font-T2);
    font-weight: 700;
    line-height: 1;
  }
}
