@import '../helpers/mixins.scss';

html {
  box-sizing: border-box;

  -webkit-text-size-adjust: 100%;

  font-size: 9px;
  
  @include breakpointMF(mobile) {
    font-size: 10px;
  }
  
  @include breakpointMF(tablet) {
    font-size: 10px;
    font-size: clamp(9px, 0.52vw, 25px);
    font-size: clamp(9px, 0.6vw, 25px);
    font-size: clamp(9px, 0.6vw, 25px);
  }

  @include noHighlight();
}