.button {
  display: flex;
  justify-content: center;
  padding: 1.4rem 2rem;
  color: var(--text);
  font: var(--font-T3);
  font-weight: 700;
  line-height: 1.12;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--white);
  border-radius: 1.4rem;
  transition: var(--transition);
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .button {
    padding: 1.4rem 2rem;
  }
}

.button--dark {
  background-color: var(--accent-blue);
  color: var(--white);
}

.button--dark:hover {
  background-color: rgba(60, 68, 151, 0.9);
}

.button--white:hover {
  background-color: var(--accent-blue);
  color: var(--white);
}

.button--big {
  padding: 1.6rem 4rem;
  font: var(--font-T1);
  font-weight: 700;
  line-height: 1;
}

@media only screen and (min-width: 769px) {
  .button--big {
    padding: 2.5rem 4rem;
  }
}

.button--middle {
  padding: 1.8rem 4rem;
  font: var(--font-T2);
  font-weight: 700;
  line-height: 1;
}
