html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-size: 9px;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 577px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 769px) {
  html {
    font-size: 10px;
    font-size: clamp(9px, 0.52vw, 25px);
    font-size: clamp(9px, 0.6vw, 25px);
    font-size: clamp(9px, 0.6vw, 25px);
  }
}